@import "../../../default-component-wrapper.css";

.component-wrapper {
    
    padding: 3px;
    height: 20%;
}

.search-bar{
    padding:5px;
    width: 100%;
    
    display: flex;
    justify-content: space-around;
}

.search-bar .search-controls{
    display: flex;
    justify-content: start;
}

.search-filters{
    padding:0em 3em 0em 3em;
    display: flex;
}

button {
    width: 10em;
    height: 4em;
    white-space: normal;
}